<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/employee_dbb</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Fatima</property>

      
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.current_session_context_class">thread</property>

    
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

       
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <mapping class="com.fatima.project.entities.Department" />
        <mapping class="com.fatima.project.entities.Employee" />        
    </session-factory>
</hibernate-configuration>
